/* styles.css */

.employee-list {
    list-style: none;
    padding: 0;
    background-color: #007bff;
}

.employee-list li {
    margin-bottom: 20px;
}

.employee-details {
    display: inline-block;
    vertical-align: top;
}

.employee-actions {
    display: inline-block;
    margin-left: 20px;
}

.add-button, .edit-button, .delete-button {
    background-color: #ec1010;
    color: #fff;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.edit-button, .delete-button {
    margin-left: 10px;
}
